HTML {
	
	font-size: $font-size-base;
	@include media-breakpoint-up(lg) {
		font-size: $font-size-lg;
	}
	@include media-breakpoint-up(xl) {
		font-size: $font-size-xl;
	}
	
}

BODY {
	font-family: $body-font;
}

$heading-sizes: ("1":$h1-font-size, "2":$h2-font-size);

@each $heading-key, $heading-size in $heading-sizes {
	H#{$heading-key},
	.h#{$heading-key} {
		font-size: $heading-size;
		@include media-breakpoint-up(md) {
			font-size: $heading-size * 1.5;
		}
	}
}
