<div class="page-wrapper netlify-cms-hide d-flex flex-column h-100">
    {% include "components/layout/nav.njk" %}
    <main class="ef-main flex-grow-1 d-flex flex-column">
        {{ content | safe }}
    </main>
</div>
