.#{$namespace}contact {
	
	/* Save root element context for easy access if nesting is needed */
	
	$self: &;
	
	
	/* variables specific to current element */
	
	$element-specific-variables: "";
	
	
	/* properties of current element  + media queries */
	
	
	/* Pseudo Elements */
	
	&::before {
		
	
		
	}
	
	&::after {
	}
	
	/*
	Include elements that are linked to the current element but have to reside at the root level of the stylesheet
	(e.g: keyframes)
	*/
	@at-root {
	}
	
	
	/* children - write selector in full in comments in order to facilitate search */
	
	
	&__container {
		position: relative;
		
	}
	
	//contact__title
	&__title#{$self}__title {
		//margin: 0 !important;
		position: relative;
		top: 0.5em;
		margin: 0;
		@include media-breakpoint-up(md) {
			position: absolute;
			white-space: nowrap;
			transform-origin: bottom left;
			transform: rotate(-90deg) translateY(0);
			top: auto;
			left: -0.5em;
			bottom: -0.5em;
			background-color: transparent;
		}
		
		
	}
	
	// contact__bg
	&__bg {
		
		// follows same logic as parent
		position: relative;
		height: 8em;
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
		@include media-breakpoint-up(sm) {
			height: 12em;
		}
		@include media-breakpoint-up(md) {
			height: 14em;
		}
		&::before {
			
			content: "";
			background-color: $lightblue;
			position: absolute;
			z-index: z("neganegative");
			top: -8em;
			right: 0;
			bottom: 0;
			left: -3em;
			
		}
		
		&::after {
			
			content: attr(data-title);
			font-size: 16.5vw;
			position: absolute;
			z-index: z("deepdivenegative");
			width: 100%;
			text-align: center;
			font-family: $title-font;
			opacity: 0.035;
			white-space: nowrap;
			transform-origin: bottom left;
			transform: rotate(-90deg) translateY(0);
			top: auto;
			left: -1em;
			bottom: -0.5em;
		}
	}
	
	//contact__socialItem
	&__socialItem {
		
		font-family: $title-font;
		font-size: $h1-font-size;
			text-align: right;
		
		&:nth-of-type(2n) {
			
			
			#{$self}__socialItemText {
				
				&::before {
					
					//left: auto;
					//right: 0;
					
				}
				
			}
			
		}
		
	}
	
	&__socialItemText {
		
		//@include textUnderlineGradient($crimson,0 0.65em, 100% 50%);
		
		&::before {
			
			content: attr(data-attr);
			position: absolute;
			bottom: 50%;
			transform: translateY(50%);
			right: 15%;
			font-size: 210%;
			opacity: 0.15;
			color: $crimson;
			
		}
	}
	
	
	/* modifiers */
	
	// contact -altStyle
	&.-altStyle {
		
		// follows same logic as base element
		
	}
	
	
	/* Pseudo Classes */
	
	&:hover {
		@media (hover: hover) {
			
		}
	}
	
	&:focus {
	}
	
	&:active {
	}
	
	&:focus,
	&:active {
	}
	
	/* random parent element */
	/* 
	*
	*   Syntax : .randomParentElt & {}
	*
	*/
	
}