<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include "components/assets/stylesheets.njk" %}
    <title>Elisa Pietrangelo - Filmmaker | {{ title }}</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body{% if additionalClass %} class="{{ additionalClass }}"{% endif %}>
    {% include "frames/main-frame.njk" %}
    {% include "components/assets/scripts.njk" %}
    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>
</body>
</html>