<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        {% include 'src' + paths.assetsPath + paths.jsPath + '/modernizr.js' %}
    </script>
    {% include "components/assets/stylesheets.njk" %}
    <title>Elisa Pietrangelo - Filmmaker | {{ title }}</title>
    <meta name="description" content="{{ metaDescription }}">
</head>
<body{% if additionalClass %} class="{{ additionalClass }}"{% endif %}>
<div class="page-wrapper d-flex flex-column h-100 flex-grow-1">
    {% include "components/layout/nav.njk" %}
    <main class="ef-main flex-grow-1 d-flex flex-column">
        {{ content | safe }}
    </main>
    {% include "components/layout/footer.njk" %}
</div>
    {% include "components/assets/scripts.njk" %}
</body>
</html>