---
layout: base
---
<div class="ef-videoDetail">
    <div class="container">
        <div class="ef-videoDetail__header position-relative pt-7 pt-sm-11 pt-md-13">
            <h1 class="ef-videoDetail__heading h1 title-font" data-title="{{ title }}">
                {{ title }}
            </h1>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ href }}"></iframe>
            </div>
            <div class="d-flex flex-column align-items-end">
                <div class="ef-videoDetail__text ef-editable text-big px-1 py-3 px-sm-5 py-sm-5">
                    {{ description | markdownify | safe }}
                </div>
            </div>
        </div>
    </div>
</div>