---
layout: base
---
{% include "components/layout/home-sections/hero.njk" %}
{% set anchorNav = collections.all | eleventyNavigation %}
{% for elt in anchorNav %}
    {% if elt.key === "hero" %}
    {% else %}
        <section data-title="{{ elt.key }}" class="ef-section ef-{{ elt.key }}{% if elt.key === "contact" %}{% else %} pt-10 pt-md-13{% endif %} position-relative" id="{{ elt.key }}">
            {% include "components/layout/home-sections/"+elt.key+".njk" %}
        </section>
    {% endif %}
{% endfor %}
{% include "components/video-modal.njk" %}