<div class="container-lg">
    <h2 class="ef-section__title h2 text-left">
        <span class="ef-section__titleInner -underlineBlue">
            {{ aboutHeading }}
        </span>
    </h2>
</div>
<div class="ef-about__bg">
    <div class="container-lg" id="{{ aboutID }}">
        <p class="ef-about__text">{{ aboutText }}</p>
    </div>
</div>
