<div class="container-lg">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-6">
            <div class="ef-contact__bg" data-title="{{ contactHeading }}">
                <h2 class="ef-section__title ef-contact__title h2 mt-5">
                    {{ contactHeading }}
                </h2>
            </div>
            <p class="text-big mb-5 mt-5">{{ contactText }}</p>

            <div class="ef-contact__social pt-5">
                {% for socialIndex, socialItem in globalSocial %}
                    {% if socialItem | length %}
                        <a href="{% if socialIndex === "email" %}mailto:{% endif %}{{ socialItem }}"
                           class="ef-contact__socialItem mb-3 d-block">
                            <span class="ef-contact__socialItemText position-relative" data-attr="{{ socialIndex }}">
                                {{ socialIndex }}
                            </span>
                        </a>
                    {% else %}
                    {% endif %}

                {% endfor %}
            </div>

        </div>
    </div>
</div>
